*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #2fa8cd;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
h2{
    display: inline-block;
    margin: 5px 0;
    justify-content: center;
    align-items: center;
    color: black;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform:capitalize;
    text-align: center;
}
 li a:hover{
    background: #000090;
    transition: .5s;
}
section{
    background-image: linear-gradient(rgba(7, 50, 241, 0.45),rgba(37, 35, 35, 0.45)),url(/imagenes/imagen2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100vh - 80px);
    opacity: 5px;
    height: 100vh;
    width: 100%;
}
.mision{
    width: 30%;  
    border-radius: 5px;
    border-color: orange;
    background: white;
    border: 2 solid; 
    float: right;   
    margin:0 25px;
    padding: 0 30px;
    top:50px;
    position: relative;
}
.mision h3{
    color: rgb(4, 0, 255);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    top: 50px;
}
.mision p{
    font-size: 2rem;
    color: #0d0d0e;  
    line-height: 1;   
    text-align: justify; 
    display: inline-block;  
    

}
.vision{
    width: 30%;  
    border-radius: 5px;
    border-color: orange;
    background: white;
    border: 2 solid; 
    float: left;
    margin:0 25px;
    font-weight: 200;
    padding: 0 30px;
    top:50px;
    position: relative;
}
.vision h3{
    color: rgb(4, 0, 255);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    top: 50px;
   
}
.vision p{
    font-size: 2rem;
    color: #0d0d0e;   
    line-height: 1;   
    text-align: justify; 
    font-weight: 200;
    display: inline-block;
}
.articulo ul {
    list-style-type: none;
    display:block;
    font-style: oblique;
    font-weight: bold;
}
@media screen and (max-width:480px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    
}

@media screen and (min-width: 200px) and (max-width: 999px){
        .enlace{
        margin: 5px ;
        padding: 0 35px;
        
        display: inline-block;
      
        padding-left: 0;
        padding-right: 0;
    }
   
    ul{
        position:absolute;
        width: 100%;
        height: 100vh;
        padding-top: 5px 0;
        margin-top: 15px 0;
        top: 0;
        left: 0;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: inline-block;
        margin: 50px 0;
        top: 50px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;

    }
    li a:hover{
        background: none;
        color: red;
    }
    .mision{
        width: 100%;       
        font-size: 12px;
        background: rgb(252, 252, 252);
        top:10px;       
        line-height: normal;
        padding:  5px 0 ;
        margin:  0;
    }
    .vision{
        width: 100%;       
        font-size: 10vh;
        background: rgb(27, 187, 27);
        top:50px;        
        padding: 5px 0;
        margin:  0;
    }
    body{
        height: 100vh;
        width: 100%;
    }
    
}